<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a class="footer__logo logo" href="#top">
                <img class="logo__img" src="img/logo.svg" alt="логотип" width="106" height="85">
            </a>
            <div class="footer__copy">
                <span class="footer__content">© arte di luce 2022.</span>
                <span>Все права защищены законом</span>
            </div>
            <address class="address address--footer">
                <div class="address__contacts">
                    <a class="address__link" href="tel:+74998775274">
                        +7 (499) 877-52-74
                    </a>
                    <a class="address__link address__link--accent" href="mailto:buy@lh-lh.ru">
                        buy@lh-lh.ru
                    </a>
                </div>
                <div class="address__place">
                    <span class="address__address">г. Москва, ул. Варшавское ш, д.125 к.3</span>
                    <span class="address__work">Пн - Пт с 10:00-19:00</span>
                </div>
            </address>
        </div>
    </div>
</footer>