<section class="form-section section" @id>
    <div class="container">
        <div class="form-section__wrapper">
            <div class="form-section__top">
                <h2 class="form-section__title title">
                    Оставьте заявку
                </h2>
                <span>И мы свяжемся с вами </span>
            </div>
            <form class="form form--section" action="#">
                <div class="form__item">
                    <label class="sr-only" for="name">Введите ваше имя</label>
                    <input class="form__field" type="text" name="name" placeholder="Имя" id="name" required>
                </div>
                <div class="form__item">
                    <label class="sr-only" for="tel">Введит ваш телефон</label>
                    <input class="form__field" type="tel" name="tel" placeholder="Телефон" id="tel" required>
                </div>
                <div class="form__send">
                    <button class="form__button button" type="submit">
                        Отправить
                    </button>
                    <p class="form__text">Нажимая на кнопку, даю согласие на 
                        <a class="form__link" href="#">
                            обработку персональных данных*
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>