<article class="product-card">
    <a class="product-card__image" href="#">
        <img class="product-card__img" src="img/products/1.jpg" alt="@alt" loading="lazy" width="240" height="160">
    </a>
    <div class="product-card__content">
        <h3 class="product-card__title">
            <a href="#">@title</a>
        </h3>
        <ul class="product-card__items">
            <li class="product-card__item">40х40 см ;</li>
            <li class="product-card__item">Белая ;</li>
            <li class="product-card__item">Белый свет.</li>
        </ul>
        <div class="product-card__bottom">
            <span class="product-card__price">@price ₽</span>
            <button class="product-card__delete" type="button">
                <span class="sr-only">Удалить из корзины</span>
            </button>
        </div>
    </div>

</article>